__pycache__
.vs/
.vscode/
env/
builds/
test_builds/
rendering/output/
/.vscode
/.vs
block2vec/lightning_logs/
world2vec/worlds/
world2vec/testbuilds/
world2vec/__pycache__/
generative_model/local_runs/processed_builds/
generative_model/local_runs/checkpoints/